:root {
  --preto: #000000;
  --roxo-escuro: #202e59;
  --lilas: #c3a3d9;
  --roxo: #a60a6f;
  --amarelo: #f2cd5e;
  --laranja: #f2b035;
  --branco: #ffffff;
  --cinza: #666666;
}

body {
  background-color: var(--branco);
}

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  font-size: 1.1rem;
  font-family: monospace;
  list-style: none;
  font-family: "Lato";
  box-sizing: border-box;
}

header {
  background-color: var(--roxo);
}

.logo {
  color: var(--laranja);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: "Bruno Ace SC", Helvetica, Arial, sans-serif;
}

.interno {
  max-width: 90vw;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  align-items: center;
}

.menu {
  display: flex;
  gap: 20px;
  align-content: center;
}

.menu a {
  text-transform: capitalize;
  color: var(--branco);
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 1.1rem;
}

.menu a:hover {
  color: var(--laranja);
}

.menu img {
  height: 30px;
}

a.login-button {
  color: var(--laranja);
  border: 2px solid var(--laranja);
  padding: 7px 14px;
  transition: 0.5;
}

.blog-title-section.externo {
  height: 400px;
  background-color: var(--roxo-escuro);
  background-image: url(../media/homepage-6.jpg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
}

.blog-title-section.interno {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 40px;
}

.blog-title-section-text {
  max-width: 50%;
  margin-bottom: 40px;
}

.blog-title-section h1,
h2,
h1 span {
  color: var(--branco);
  text-align: center;
  font-size: 2.2rem;
  line-height: 1.4;
  font-family: "Bruno Ace SC", Helvetica, Arial, sans-serif;
}

.blog-title-section h2 {
  font-family: "Bruno Ace SC", Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  margin-top: 10px;
}

h1 span {
  text-transform: uppercase;
}

h1 {
  padding-bottom: 15px;
}

.search-section {
  padding: 20px;
}

.search-section h2 {
  color: var(--roxo);
  text-align: left;
  margin-bottom: 10px;
}

.search-filter {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.search-filter-forms {
  display: grid;
  gap: 20px;
  grid-template-columns: 3fr 1fr;
}

[for="category"] {
  display: none;
}

.num-posts,
.num-posts span {
  font-size: 1.25rem;
  color: var(--roxo-escuro);
}

.num-posts span {
  font-weight: bold;
}

.search-section input,
.search-filter select {
  color: var(--cinza);
  border: 1px solid var(--cinza);
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  background-color: var(--branco);
  font-size: 1.2rem;
}

main {
  margin: 0px 0px 30px 0;
}

.posts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  grid-auto-rows: 438px;
}

.post * {
  color: var(--cinza);
}
.post {
  border: 1px solid var(--cinza);
  border-radius: 4px;
  background-color: var(--branco);
  height: 100%;
}

.post-info {
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  justify-content: space-around;
}

.post img {
  display: block;
  max-width: 100%;
  height: 50%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.post-title {
  color: var(--roxo-escuro);
  font-size: 1.1rem;
}

.author-and-date {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  align-items: center;
}

.author-and-date .author-img {
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top center;
  padding-right: 10px;
}

.author-and-date * {
  color: var(--cinza);
  font-size: 1rem;
}
.post-category {
  color: var(--laranja);
}

footer {
  background-color: var(--roxo);
  padding: 50px;
}
.footer a {
  color: var(--branco);
}

.footer p {
  text-align: center;
}
