:root {
  --preto: #000;
  --branco: #fff;
  --branco2: #fffbf2;
  --verde-escuro: #15362d;
  --verde: #12b58a;
  --marrom: #693700;
  --vermelho: #e8002f;
  --cinza: #b2b2b2;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  font-size: 1.1rem;
  font-family: monospace;
  list-style: none;
  font-family: "Roboto";
  box-sizing: border-box;
  color: var(--preto);
}

body {
  background-color: var(--branco);
}
header {
  border-bottom: 1px solid var(--preto);
  background-color: var(--verde-escuro);
}
.header {
  max-width: 90vw;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo .blog-title {
  font-size: 50px;
  font-family: "PT Sans";
  text-transform: uppercase;
  color: var(--branco);
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  font-size: 1rem;
}

.menu .top {
  display: flex;
  gap: 10px;
}

.menu .bottom li a {
  color: var(--verde);
}

header a,
header p {
  color: var(--branco2);
}

.menu img {
  width: 30px;
}

.section-title-blog {
  display: flex;
  margin: 0 auto;
  max-width: 90vw;
  padding: 50px 0;
  gap: 50px;
  justify-content: center;
  height: 100%;
}

.main-image {
  display: block;
  width: 450px;
  max-height: fit-content;
}

.section-title-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  justify-content: space-evenly;
}
p {
  font-size: 1.2rem;
}
h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--verde-escuro);
}

.section-title-text-intro {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h2 {
  color: var(--verde-escuro);
  font-size: 1.5rem;
  margin: 20px 0;
}

.author-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.author-name {
  color: var(--cinza);
  font-size: 0.95rem;
  text-transform: capitalize;
}

.date {
  font-size: 1rem;
  color: var(--cinza);
  font-size: 0.95rem;
}

.author-info img {
  width: 40px;
  border-radius: 50%;
}

.last-post {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--verde-escuro);
  padding: 20px;
  gap: 15px;
}

.last-post p {
  max-height: 280px;
  overflow: hidden;
  font-size: 1.15rem;
  margin-top: 5px;
}

h3 {
  font-size: 1.25rem;
  color: var(--verde-escuro);
}

.thumb {
  display: block;
  width: 100%;
}

.text-post {
  border: 1px solid var(--cinza);
  border-radius: px;
}
